REDIS_HOST=redis
REDIS_PORT=6379
TDS_URL=http://data-service.staging.terarium.ai
SKEMA_RS_URL=http://skema-rs.staging.terarium.ai
TA1_UNIFIED_URL=http://skema-unified.staging.terarium.ai
MIT_TR_URL=http://mit-tr.staging.terarium.ai
LOG_LEVEL=INFO
MOCK_TA1=True
OPENAI_API_KEY=foo